# things for git to ignore

# anything in the data and output folders (only track code)
data/
output/
reports/
other/
ms/
misc/ 
clusterlogs/
resources/
info/
outline/

# any compiled things
*.pdf
*.png
*.csv

# RStudio things
*.Rdata
*.RData
*.RHistory
*.Rhistory
*.Rproj.user
*.Rproj
*.RDataTmp

# todo file
todo.md

# temporary inla files
inla.model*

# cluster logs
clusterlogs/
job*

